@model GraniteHouse.Models.ViewModel.ShoppingCartViewModel
@{
	ViewData["Title"] = "Index";
}

<br />

<form method="post">
	<br /><br />
	<h2 class="text-info">Your Shopping Cart</h2>
	<br />
	@if (Model.Products.Any())
	{
		<div class="container border border-secondary rounded" style="padding:15px;">
			<div class="row">
				<div class="col-8" style="border-right:1px solid #bbb9b9;">
					<table class="table table-striped" width="100%">
						<tr class="table-info">
							<th style="text-align:center; width:20%">
								[Product]
							</th>
							<th style="text-align:center; width:20%">
								<label asp-for="@Model.Products.FirstOrDefault().Name"></label>
							</th>
							<th style="text-align:center; width:20%">
								<label asp-for="@Model.Products.FirstOrDefault().Price"></label>
							</th>
							<th style="text-align:center; width:20%">
								<label asp-for="@Model.Products.FirstOrDefault().ShadeColor"></label>
							</th>
							<th style="text-align:center; width:20%">
								<label asp-for="@Model.Products.FirstOrDefault().ProductType.Name"></label>
							</th>
							<th style="text-align:center; width:20%">
							</th>
						</tr>
						@foreach (var product in Model.Products)
						{
							<tr style="padding:50px">
								<td>
									<a asp-area="Customer" asp-controller="Home" asp-action="Details" asp-route-Id="@product.Id">
										<img src="@product.Image" width="100%" style="margin:auto; display:block; border-radius:5px; border:1px solid #bbb9b9" />
									</a> <!-- Po kliknieciu w zdj w koszyku idziemy do detailsow -->
								</td>
								<td style="text-align:center">
									@Html.DisplayFor(x => product.Name)
								</td>
								<td style="text-align:center">
									@Html.DisplayFor(x => product.Price)
								</td>
								<td style="text-align:center">
									@Html.DisplayFor(x => product.ShadeColor)
								</td>
								<td style="text-align:center">
									@Html.DisplayFor(x => product.ProductType.Name)
								</td>
								<td style="text-align:center">
									<button type="submit" class="btn btn-danger" asp-action="Remove" asp-route-Id="@product.Id" value="Remove from Cart">Remove</button>
								</td>
							</tr>
						}
					</table>
				</div>
				<div class="col-4" style="padding-left:30px;">
					<div class="row">
						<div class="col-12" style="padding-bottom:15px">
							<label>Name : </label>
						</div>
						<div class="col-12" style="padding-bottom:15px">
							<input asp-for="@Model.Appointments.CustomerName" class="form-control" />
						</div>
						<div class="col-12" style="padding-bottom:15px">
							<label>Phone Number : </label>
						</div>
						<div class="col-12" style="padding-bottom:15px">
							<input asp-for="@Model.Appointments.CustomePhoneNumber" class="form-control" />
						</div>
						<div class="col-12" style="padding-bottom:15px">
							<label>Email : </label>
						</div>
						<div class="col-12" style="padding-bottom:15px">
							<input asp-for="@Model.Appointments.CustomerEmail" class="form-control" />
						</div>
						<div class="col-12" style="padding-bottom:15px">
							<label>Appointment Date : </label>
						</div>
						<div class="col-12" style="padding-bottom:15px">
							<input asp-for="@Model.Appointments.AppointmentDate" type="text" id="datepicker" class="form-control" />
						</div> <!-- datepicker jquery wymaga id o takiej nazwie, skrypt na dole strony  -->
						<div class="col-12" style="padding-bottom:15px">
							<label>Appointment Time : </label>
						</div>
						<div class="col-12" style="padding-bottom:15px">
							<input asp-for="@Model.Appointments.AppointmentTime" value="" type="text" class="timepicker form-control" />
						</div> <!-- timepicker wymaga przez swoje jquery takiej klasy o tej nazwie, skrypt na dole strony -->
						<div class="col-12">
							<button type="submit" id="btnPlaceOrder" class="btn btn-success">Schedule Appointment</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	}
	else
	{
		<h2>
			<button type="submit" class="btn btn-sm btn-danger" asp-action="Index" asp-controller="Home">Your Cart is empty !</button>
		</h2>
	}
</form>

@section Scripts{
	<script>
		$('.timepicker').timepicker({
			timeFormat: 'h:mm p',
			interval: 30,
			minTime: '10',
			maxTime: '3:00pm',
			defaultTime: '11',
			startTime: '10:00',
			dynamic: true,
			dropdown: true,
			scrollbar: true
		});

		$(function () {
			$("#datepicker").datepicker();
		});
	</script>
}

